.body{
    color:black;
    font-size: 12px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: fixed;
    background-color: aqua;
    background-color: #25242A;
}
.head{
    font-size: 22px;
    background-color: #3d489d;
    padding-bottom: 20px;
    padding-top: 20px;
    border-color: aqua;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
    background-color: #A49D9D;
    border-radius: 10px;
    padding: auto;
}
